$bg-color: linear-gradient(180deg, rgb(94, 94, 94), black);

@mixin cardSize($width: 330px, $height: 450px) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: $width;
  height: $height;
  padding: 16px;
  margin: 20px;
  border-radius: 5px;
  background-image: $bg-color;
}

.cardSmall {
  @include cardSize;
}

.cardMedium {
  @include cardSize($width: 400px, $height: 150px);
}

.cardLarge {
  @include cardSize($width: 1150px, $height: 450px);
}
