// $bg-color: linear-gradient(180deg, rgb(94, 94, 94), black);
$bg-color: white;

@mixin cardSize($width: 330px) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: $width;
  height: fit-content;
  padding: 16px;
  margin: 20px;
  border-radius: 5px;
  background-image: $bg-color;
}

.cardSmall {
  @include cardSize;
  h4 {
    margin: 0;
  }
}

.cardMedium {
  @include cardSize($width: 400px);
}

.cardLarge {
  @include cardSize($width: 1150px);
}
