.content-margin {
  margin: 25px;
}

.section-column {
  display: flex;
  flex-direction: column;
  // p {
  //   color: white;
  // }
}

.section-row {
  display: flex;
  flex-direction: row;
  // p {
  //   color: white;
  // }
}
