.link {
  text-decoration: none;
  color: black;
  background-color: transparent;
}

.head {
  font-weight: 700;
  color: rgb(74, 73, 73);
}

.empty-info {
  color: rgb(74, 73, 73);
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.h2 {
  font-weight: normal;
  margin-left: 20px;
}
